# Supabase Configuration
# Copy this file to .env and configure the variables

VITE_SUPABASE_PROJECT_ID=wdvndocbxxzpltywtpub
VITE_SUPABASE_URL=https://wdvndocbxxzpltywtpub.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xEtId77ZWOEpifOvACxllw_hKFo9GEB

EXPO_PUBLIC_SUPABASE_URL=https://wdvndocbxxzpltywtpub.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xEtId77ZWOEpifOvACxllw_hKFo9GEB
